<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div class="container-fluid" layout:fragment="page-content">
		
		
		<div class="container mt-5 ml-5 pl-5">
			<div class="row justify-content-left">
				<div class="col-8">
		
					<div class="card bg-light">
						<div class="card-header" th:text="${titulo}"></div>
						<div class="card-body">
							<form th:action="@{/views/jugador/save}" th:object="${jugador}" method="post">
								<input type="hidden" th:field="*{id}">
								
								
								<div class="form-group">
		
									<label for="jugador" class="form-label col-md-2">[[#{jugador.usuario}]]: </label>
									<input type="text" class="form-control form-control-sm col-md-6" id="jugador"
										th:field="*{username}" th:placeholder="#{jugador.usuario.placeholder}" />
									<small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
										th:errors="*{username}">
									</small>
		
								</div>
							
								
								<div class="form-group">
		
									<label for="jugador" class="form-label col-md-2">[[#{jugador.nombre}]]: </label>
									<input type="text" class="form-control form-control-sm col-md-6" id="jugador"
										th:field="*{nombre}" th:placeholder="#{jugador.nombre.placeholder}" />
									<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
										th:errors="*{nombre}">
									</small>
		
								</div>
								
								<!--
								<div class="form-group">
		
									<label for="jugador" class="form-label col-md-2">[[#{jugador.password}]]: </label>
									<input type="text" class="form-control form-control-sm col-md-6" id="sucursal"
										th:field="*{password}" th:placeholder="#{jugador.password.placeholder}" />
									<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">
									</small>
		
								</div
							
								-->
								<div class="form-group">
		
									<label for="jugador" class="form-label col-md-2">[[#{jugador.fecha}]]: </label>
									<input type="date" class="form-control form-control-sm col-md-6" id="jugador"
										th:field="*{fecha}" disabled />
									<small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}"
										th:errors="*{fecha}">
									</small>
		
								</div>
		
								<div class="card-footer">
									<button type="submit" class="btn btn-primary btn-sm">
										<i class="fa-solid fa-floppy-disk"></i>
										<span th:text="#{accion.guardar}"></span>
									</button>
									<a class="btn btn-success btn-sm" th:href="@{/views/jugador/getAllUserByRol}"
										title="Regresar a la lista de jugadores">
										<i class="fa-solid fa-reply"></i>
										<span th:text="#{accion.regresar}"></span>
									</a>
		
		
								</div>
		
		
							</form>
		
						</div>
					</div>
		
		
		
				</div>
			</div>
		</div>
		
		
		
		
		<!--------------------------------------------------------------------  -->
		</div>
	
	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">

	</th:block>

</body>
</html>