<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
	<link th:href="@{fontawesome/css/all.css}"  rel="stylesheet"> 
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title></title>
</head>
<body>
<div class="container-fluid" layout:fragment="page-content">
	
	<div class="mt-3" style="text-align: center;">
		<h1 th:text="${titulo}"></h1>
	</div>

	<!--
	<div class="container mt-3">
		
		<form>
		
			<div class="form-group">
				<label for="pais" class="form-label col-md-2">[[#{jugador.jugador}]]: </label>
				<select type="text" class="form-control form-control-sm col-md-6" id="usuario" th:field="*{jugadores}">
					<option th:each="jugador:${jugadores}" th:value="${jugador.getId()}" th:text="${jugador.getNombre()}" />
		
				</select>
			</div>
		
		</form>
		-->
	
		<table class="table table-striped table-hover mb-3">
			<thead>
				<tr>
					<th hidden scope="col">[[#{jugador.id}]]</th>  
					<th scope="col">[[#{jugador.id}]]</th>
					<th scope="col">[[#{jugador.jugador}]]</th>
					<th scope="col">[[#{jugador.fecha}]]</th>
					<th scope="col">[[#{jugador.dado1}]]</th>
					<th scope="col">[[#{jugador.dado2}]]</th>
					<th scope="col">[[#{jugador.resultado}]]</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')"  >[[#{jugador.accion}]]</th>
			<!--		<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')"  >[[#{jugador.accion}]]</th>  -->
					
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="jugador:${jugadores}">
				    <td hidden class="hidden-column" th:text="${jugador.getIduser()}"></td> 
					<td th:text="${jugador.getId()}"></td>
					<td scope="row" th:text="${jugador.getJugador()}"></td>
					<td th:text="${jugador.getFecha()}"></td>
					<td th:text="${jugador.getDado1()}"></td>
					<td th:text="${jugador.getDado2()}"></td>
					<td th:text="${jugador.getResultado()}"></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
					<!--
					
						<a class="btn btn-danger btn-sm"
							th:href="@{/views/tirada/delete/{id}/{iduser}(id=${jugador.getId()},iduser=${jugador.getIduser()})}"
							title="Eliminar Jugada">
							<i class="fa-solid fa-circle-info"></i>
							<span th:text="#{accion.eliminar}"></span>
						</a>
						-->
						<a class="btn btn-danger btn-sm" 
							th:href="@{/views/tirada/delete/{id}/{iduser}(id=${jugador.getId()},iduser=${jugador.getIduser()})}"
							title="Eliminar Jugada"
							onclick="return confirm('¿Está seguro de eliminar el registro?');">
							<i class="fa-solid fa-trash-can"></i>
							<span th:text="#{accion.eliminar}"></span>

						</a>
					
					
					
					</td>
				</tr>
			</tbody>

		</table>

		
	</div>
	

	<!---------------------------------------------------------------------------------------------->
</div>
	
	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">

	</th:block>

</body>
</html>